header{
    background-image: url(https://i.postimg.cc/pLYPn782/dl-beatsnoop-com-hq-692475616-Fig-Bk-C3-W9-O.jpg);
    background-size: cover;
    height: 500px;
}
#logo{
    height: 10%;
    width: 10%;
}